openapi: 3.0.0
servers:
  - url: "https://app.payku.cl/"
    description: Default server
  - url: "https://des.payku.cl/"
    description: Sandbox server
info:
  description: |
    ¿Necesitas ver la documentación de los otros países?: Chile | <a href="https://docs.payku.com/index-pe-es-v1.html">Perú</a> | <a href="https://docs.payku.com/index-ve-es-v1.html">Venezuela</a>

    Seleccione el idioma de la documentación: ES | <a href="https://docs.payku.com/index-cl-en-v1.html">EN</a>

    <div style="
    background: #2F39D1;
    width:100%;
    height:6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ">
    <strong style="color: #fff">Nuevo: Puedes realizar pruebas en vivo de nuestra API</strong>
    <a style="
    margin-top:0.7rem;
    background: #fff;
    border: 1px solid rgb(50, 50, 159);
    color: rgb(50, 50, 159);
    font-weight: normal;
    margin-left: 0.5em;
    width:20%;
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center"
    href="https://testing-apirest.payku.cl/"
    target="_blanck" rel=”noopener noreferrer”
    onMouseOver="this.style.color='#000', this.style.background='#DBDBDB'"
    onMouseOut="this.style.color='#2F39D1', this.style.background='#fff'"
    ">Prueba
    </a>
    </div>

    # Introducción
    Bienvenido a la API de payku. Puedes usar nuestra API para acceder a los distintos
    endpoints de payku, donde podrás generar y gestionar pagos mediante distintos
    métodos y obtener información de ellos.

    El API está organizado alrededor de REST. Posee URLs predecibles y
    orientadas a recursos, y utiliza códigos de respuesta HTTP para indicar el
    resultado de la llamada. Todas las respuestas de la API retornan objetos
    JSON, incluyendo los errores.

    El solicitante debe buscar un código de resultado 200. Si se recibe
    cualquier código de resultado distinto de 200, la solicitud o la respuesta
    no es válida, lo que significa que los campos no pasaron los controles de
    validación de parte de payku. Utilizamos características incluidas en el
    protocolo HTTP, como autenticación, los cuales son soportados por la gran
    mayoría de los clientes HTTP.

    # Autenticación
    payku utiliza Token Based Authentication sobre HTTPS para la autenticación. Para tener acceso a nuestra API, accede a tu cuenta en la sección de Integración encontrarás la opción de Tokens integración y API. Los request no autenticados o incorrectos retornarán una respuesta de token Invalido.


    # API Seguridad
    Cada solicitud es requerido tener incluido en el header:
      - Authorization: Bearer **TOKEN-PÚBLICO**

    # Firma

    En el caso del API de suscripciones, anulación y mall se agregó una capa más de seguridad a través de una firma que se envía en el header del request, para obtener dicha firma es necesario lo siguiente:

    Se debe concatenar en formato para url el Request Path junto a todos los parámetros del request, los cuales deben ser ordenados alfabéticamente por key, tal que key=value. Por lo tanto, si el valor de email cliente es “example@domain.com” el formato correcto sería “example%40domain.com” y luego concatenados con el carácter ‘&’.

    Una vez que los sets de caracteres son ordenados y concatenados, el hash es calculado usando la función HMAC con cifrado tipo sha256, y el token privado.

    **Nota:** Si un elemento de la data, tiene como valor un objeto o arreglo, se excluye de la data. Esta función esta en el ejemplo de PHP y de Javascript.

    ### Ejemplo PHP
    Endpoint de la API:
    ```php
    $request_path = urlencode('/api/suclient/');
    ```
    Ordenando los parámetros:
    ```php
    $data = [
      'email' => 'johndoe@example.com',
      'name' => 'John Doe',
      'phone' => '923122312',
      'address' => 'Moneda 101',
      'country' => 'Chile',
      'region' => 'Metropolitana',
      'city' => 'Santiago',
      'postal_code' => '850000',
      'additional_parameters' => [
        'parameter_1' => 'example',
        'parameter_2' => 'example 2',
      ]
    ];
    ksort($data);
    ```
    Transformación de los parámetros a formato url:
    ```php
        $contador = 0;
        $concatenar = null;

        if (!empty($data) && !is_null($data)) {
            foreach ($data as $key => $val) {
                if(gettype($val)!='array' && gettype($val)!='object'){
                    if ($contador>0) {
                        $concatenar .= '&';
                    }
                    $concatenar .= $key . '=' . urlencode($val);
                }
                $contador++;
            }
        };
    ```
    Concatenación de los parámetros en formato url con el endpoint de la API:
    ```php
    $concat = $request_path.'&'.$concatenar;
    ```
    Firma:
    ```php
    $sign = hash_hmac('sha256', $concat, 'fe551abcef62fcf002dc598922e68f0a');
    ```

    ### Ejemplo JavaScript
    Importar dependencia CryptoJS:
    ```javascript
    const CryptoJS = require("crypto-js");
    ```
    Endpoint de la API:
    ```javascript
    const requestPath = encodeURIComponent('/api/suclient');
    ```
    Ordenando los parámetros:
    ```javascript
    const data = {
      email: "johndoe@example.com",
      name: "John Doe",
      phone: "923122312",
      address: "Moneda 101",
      country: "Chile",
      region: "Metropolitana",
      city: "Santiago",
      postal_code: "850000"
    };
    const orderedData = {};
    Object.keys(data).sort().forEach(function(key) {
      orderedData[key] = data[key];
      if (typeof orderedData[key] === 'object') {
            delete orderedData[key];
      }
    });
    ```
    Transformación de los parámetros a formato url:
    ```javascript
    const arrayConcat = new URLSearchParams(orderedData).toString();
    ```
    Concatenación de los parámetros en formato url con el endpoint de la API:
    ```javascript
    const concat = requestPath + "&" + arrayConcat;
    ```
    Firma:
    ```javascript
    const sign = CryptoJS.HmacSHA256(concat, "fe551abcef62fcf002dc598922e68f0a").toString();
    ```

    El resultado de la firma obtenida para ambos ejemplos es:

    ```javascript
    "d891663698d31aa8b68babe96ac6497f5a0d874024368102998d5b79a4d12c36"
    ```
    # Errores
    payku usa respuestas HTTP convencionales para indicar el éxito o fracaso de un request.
    En general, códigos en el rango de los 2xx indican éxito, códigos en el rango 4xx indican
    un error que falló debido a la información proporcionada (ej: un parámetro requerido fue
    omitido, un pago falló, etc.), y códigos en el rango de los 5xx indican un error con
    los servidores de payku (estos son raros).

    ## Códigos de error
    <div class="errorContent">
    <table>
      <tbody>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">400</strong>
            <p class="psmall">Bad Request</p>
          </td>
          <td class="errorDescription">Hay un problema con tu request</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">401</strong>
            <p class="psmall">Unauthorized</p>
          </td>
          <td class="errorDescription">Tu token es incorrecto o error de firma</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">403</strong>
            <p class="psmall">Forbidden</p>
          </td>
          <td class="errorDescription">No tienes permiso para ver esta página</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">404</strong>
            <p class="psmall">Not Found</p>
          </td>
          <td class="errorDescription">El recurso especificado no fue encontrado </td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">405</strong>
            <p class="psmall">Method Not Allowed</p>
          </td>
          <td class="errorDescription">Trataste de ingresar a un recurso con un método inválido</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">406</strong>
            <p class="psmall">Not Acceptable</p>
          </td>
          <td class="errorDescription">Solicitaste un formato que no es json</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">410</strong>
            <p class="psmall">Gone</p>
          </td>
          <td class="errorDescription">El recurso solicitado fue removido de nuestros servidores</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">422</strong>
            <p class="psmall">Unprocessable Entity</p>
          </td>
          <td class="errorDescription">No podemos procesar tu solicitud, revísala.</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">429</strong>
            <p class="psmall">Too Many Requests</p>
          </td>
          <td class="errorDescription">¡Estás solicitando muchos recursos! ¡Detente!</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">500</strong>
            <p class="psmall">Internal Server Error</p>
          </td>
          <td class="errorDescription">Tuvimos un problema con nuestro servidor. Inténtalo nuevamente más tarde.</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">503</strong>
            <p class="psmall">Service Unavailable</p>
          </td>
          <td class="errorDescription">Estamos offline por mantenimiento. Inténtalo nuevamente más tarde</td>
        </tr>
      </tbody>
    </table>
    </div>

    # Acceso a la API
    Si tienes una cuenta en payku, puedes acceder a la API REST mediante los siguientes endpoints:

    <div class="content">
      <table class="center smallTable">
        <thead>
          <tr>
            <th style="text-align:center;"><strong>Site</strong></th>
            <th style="text-align:center;"><strong>BASE URL FOR REST ENDPOINT</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Production</strong></td>
            <td align="center"><a target="_blank" href="https://app.payku.cl/api">https://app.payku.cl/api</a></td>
          </tr>
          <tr>
            <td><strong>Sandbox</strong></td>
            <td><a target="_blank" href="https://des.payku.cl/api">https://des.payku.cl/api</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    - **Producción**: proporciona acceso directo para generar transacciones reales.
    - **Sandbox**: permite probar su integración sin afectar los datos reales.

    Para realizar pruebas a nuestra API de forma rapida puede utilizar la colección y el ambiente de Postman
    que se encuentran en el siguiente repositorio: <a target="_blank" href="https://github.com/Paykucl/doc-apirest-postman">Colección postman</a>

    # Tarjetas de prueba

    Para realizar pruebas de transacciones utilice estas tarjetas:

    <div class="content">
      <table class="center">
        <thead>
          <tr>
            <th style="text-align:center; width:25%"><strong>Tipo de tarjeta</strong></th>
            <th style="text-align:center; width:37.5%"><strong>Detalle</strong></th>
            <th style="text-align:center; width:37.5%"><strong>Resultado</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VISA</td>
            <td align="center">4051 8856 0044 6623 CVV 123 cualquier fecha de expiración</td>
            <td align="center">Genera transacciones aprobadas.</td>
          </tr>
          <tr>
            <td>AMEX</td>
            <td align="center">3700 0000 0002 032 CVV 1234 cualquier fecha de expiración</td>
            <td align="center">Genera transacciones aprobadas.</td>
          </tr>
          <tr>
            <td>MASTERCARD</td>
            <td align="center">5186 0595 5959 0568 CVV 123 cualquier fecha de expiración</td>
            <td align="center">Genera transacciones rechazadas.</td>
          </tr>
          <tr>
            <td>Redcompra</td>
            <td>4051 8842 3993 7763</td>
            <td align="center">Genera transacciones aprobadas (para operaciones que permiten débito Redcompra y prepago)</td>
          </tr>
          <tr>
            <td>Redcompra</td>
            <td>5186 0085 4123 3829</td>
            <td align="center">Genera transacciones rechazadas (para operaciones que permiten débito Redcompra y prepago)</td>
          </tr>
          <tr>
            <td>Prepago VISA</td>
            <td>4051 8860 0005 6590 CVV 123 cualquier fecha de expiración</td>
            <td align="center">Genera transacciones aprobadas.</td>
          </tr>
          <tr>
            <td>Prepago MASTERCARD</td>
            <td>5186 1741 1062 9480 CVV 123 cualquier fecha de expiración</td>
            <td align="center">Genera transacciones rechazadas.</td>
          </tr>
        </tbody>
      </table>
    </div>

    Cuando aparece el formulario de autenticación con RUT y clave, se debe usar el RUT 11.111.111-1 y la clave 123.

  version: "2.1.01"
  title: payku API
  termsOfService: "https://payku.com/legal/"
  contact:
    email: contacto@payku.com
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://records.payku.com/public/img/payku2020_2.svg"

tags:
  - name: Transacción
    description: |
      Permite la creación de transacciones y posteriormente consultar su estado.
      <br>
      <div class='container'>
        <img src='/assets/img/Diagrama-Transaccion.png' alt='Avatar' class='image' style='width:100%'>
        <div class='middle'>
          <a target='_blank' href='assets/img/Diagrama-Transaccion.png' class='text'>Ver diagrama</a>
        </div>
      </div>
  - name: Transacción Escrow
    description: Esta funcionalidad permitirá a las cuentas escrow autorizadas por payku realizar la liquidación de transacciones.
  - name: Anulación
    description: Permite solicitar la anulación de una transacción realizada a través de payku.
  - name: Marketplace
    description: |
      Permite el registro de clientes, para posteriormente realizar la distribución según porcentaje asignado.
      <br>
      <div class='container'>
        <img src='/assets/img/Diagrama-Marketplace.png' alt='Avatar' class='image' style='width:100%'>
        <div class='middle'>
          <a target='_blank' href='assets/img/Diagrama-Marketplace.png' class='text'>Ver diagrama</a>
        </div>
      </div>
  - name: Mall
    description: |
      El producto ha sido diseñado especialmente para aquellas empresas integradoras de distintas marcas con diferentes líneas de negocio las cuales pueden agruparse manteniendo su diversidad en un mismo espacio virtual o mall.

      Ofreciendo la posibilidad de agrupar el pago de las compras realizadas en múltiples tiendas virtuales en una sola transacción.
      <br>
      <div class='container'>
        <img src='/assets/img/Diagrama-Mall.png' alt='Avatar' class='image' style='width:100%'>
        <div class='middle'>
          <a target='_blank' href='/assets/img/Diagrama-Mall.png' class='text'>Ver diagrama</a>
        </div>
      </div>
  - name: Evento
    description: Permite la  creación de eventos y posteriormente consultar su estado.
  - name: Suscripción
    description: |
      Permite la vinculación de un plan a un cliente, para posteriormente realizar cargos recurrentes automáticamente, según se defina en cada plan.
      <br>
      <div class='container'>
        <img src='/assets/img/Diagrama-Suscripcion.png' alt='Avatar' class='image' style='width:100%'>
        <div class='middle'>
          <a target='_blank' href='/assets/img/Diagrama-Suscripcion.png' class='text'>Ver diagrama</a>
        </div>
      </div>
  - name: Suscripción de consumo
    description: |
      Es el conjunto de métodos que permitirán a nuestros usuarios la creación de clientes, planes, suscripciones y realizar transacciones de planes de consumo.

      El principal uso de estos métodos es para realizar cargos únicos a un cliente por un servicio o producto, como por el ejemplo la contratación de un servicio de delivery de algún producto o la compra de un producto en particular.

      Si se desea que el cliente vaya directo a la pasarela de pago de webpay es necesario enviar a través de parámetros en la url, en caso de una suscripción con los parámetros básicos como son nombre, apellido, email y teléfono, la url tendría la siguiente forma:
      https://BASE_URL/suscripcion/index?idplan=607&verif=b4280f5e&nombre=vicente&apellido=borjas&email=example@ example.com&telefono=986523565&direct_full=true

      Si se desean agregar otros parámetros estos deben ser concatenados a través de & continuando con la estructura antes mostrada.
  - name: Wallet
    description: Permite generar transacciones bancarias desde tu billetera virtual **payku**.
  - name: Conciliación
    description: Permite obtener las conciliaciones en **payku**.
  - name: payku.com
    description: Ingresa en https://app.payku.cl/.
  - name: Bancos
    description: |
      Permite ver la lista de los bancos asociados.
  - name: Métodos de pago
    description: |
      Permite ver la lista de los métodos de pago utilizados por payku.

x-tagGroups:
  - name: ''
    tags:
      - Transacción
      - Transacción Escrow
      - Anulación
      - Marketplace
      - Mall
      - Evento
      - Suscripción
      - Suscripción de consumo
      - Wallet
      - Conciliación
  - name: Herramientas
    tags:
      - Bancos
      - Métodos de pago
  - name: Info
    tags:
      - payku.com

paths:
  /api/banks?currency=clp:
    get:
      tags:
        - Bancos
      summary: "Obtener lista de bancos por el tipo de moneda"
      description: |
        Este método permite obtener una lista de los bancos asociados filtrados por la moneda.
        Para filtrar por la moneda, hay que agregar el query params currency con el valor de la moneda.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BanksCurrencyResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/banks  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/banks?currency=clp', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/banks?currency=clp', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }
            request();

  /api/paymentmethods:
    get:
      tags:
        - Métodos de pago
      summary: "Obtener lista de los métodos de pago en payku"
      description: |
        Este método permite obtener una lista de los métodos de pago en payku.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodsPaymentResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/paymentmethods  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/paymentmethods', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/paymentmethods', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/paymentmethods?currency=clp:
    get:
      tags:
        - Métodos de pago
      summary: "Obtener lista de métodos de pago por el tipo de moneda"
      description: |
        Este método permite obtener una lista de los métodos de pago en payku.
        Para filtrar por la moneda, hay que agregar el query params currency con el valor de la moneda.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodsPaymentCurrencyResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/paymentmethods?currency=clp  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/paymentmethods?currency=clp', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/paymentmethods?currency=clp', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }
            request();

  /api/conciliation:
    post:
      tags:
        - Conciliación
      summary: Obtener conciliaciones.
      description: Permite obtener las conciliaciones bancaria del dinero generado por su cuenta y depositado por **payku** en los días correspondiente a sus pago.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseConciliation"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/conciliation \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
                "date_init": "2023-10-20",
                "date_end": "2023-10-21"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/conciliation', [
                'json' => [
                    'date_init' => '2023-10-20',
                    'date_end' => '2023-10-21'
                  ],
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/conciliation', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "date_init": "2023-10-20",
              "date_end": "2023-10-21"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_init:
                  description: |
                    **Rango de fecha inicial:**
                      - No puede ser mayor a la fecha actual.
                      - No puede ser mayor a la fecha final.
                      - El rango de la fecha inicial y fecha final no debe ser mayor a 30 días.
                  type: string
                  example: "2023-10-20"
                date_end:
                  description: |
                    **Rango de fecha final:**
                      - No puede ser mayor a la fecha actual.
                      - No puede ser menor a la fecha inicial.
                      - El rango de la fecha inicial y fecha final no debe ser mayor a 30 días.
                  type: string
                  example: "2023-10-21"
              required:
                - date_init
                - date_end

  /api/wallet/payout:
    post:
      operationId: payout
      tags:
        - Wallet
      summary: Realizar pagos a terceros desde mi wallet
      description: |
        Este método permite crear una orden de pago a un tercero utilizando los fondos de tu billetera virtual **payku**.

        **Nota:** Para fines de prueba (Solo ambiente desarrollo), los montos específicos se procesarán automáticamente:
        <br>
        &bull;  Montos 1000, 2000, 3000: Se marcarán como **aprobados** automáticamente.
        <br>
        &bull;  Montos 1500, 2500, 3500: Se marcarán como **rechazados** automáticamente.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseThird"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/wallet/payout \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "email": "johndoe@example.com",
              "phone": "123456789",
              "subject": "PayOut 133222",
              "currency": "CLP",
              "order": "133222",
              "amount":  1000,
              "accountbank_name": "Jhon Doe",
              "accountbank_rut": "111111111",
              "accountbank_sbif": "0001",
              "accountbank_type": "1",
              "accountbank_num": "12312312312",
              "url_notify": "https://www.youwebsite.com/urlnotify?orderClient=98745",
              "additional_parameters":
                {
                "parameters1": "keyValue",
                "parameters2": "keyValue",
                "order_ext": "fff-777"
                }
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/wallet/payout', [
                'json' => [
                    'email' => 'johndoe@example.com',
                    'phone' => '123456789',
                    "subject": "payOut 9876",
                    "order": 9876,
                    'currency' => 'CLP',
                    'amount' =>  1000,
                    'accountbank_name' => 'Jhon Doe',
                    'accountbank_rut' => '111111111',
                    'accountbank_sbif' => '0001',
                    'accountbank_type' => '1',
                    'accountbank_num' => '12312312312',
                    "url_notify" => "https://www.youwebsite.com/urlnotify?orderClient=98745",
                    'additional_parameters' =>
                    [
                    'parameters1' => 'keyValue',
                    'parameters2' => 'keyValue',
                    'order_ext' => 'fff-777'
                    ]
                  ],
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/walet/payout', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "email": "johndoe@example.com",
              "phone": "123456789",
              "subject": "PayOut 133222",
              "currency": "CLP",
              "order": 133222,
              "amount":  1000,
              "accountbank_name": "Jhon Doe",
              "accountbank_rut": "111111111",
              "accountbank_sbif": "0001",
              "accountbank_type": "1",
              "accountbank_num": "12312312312",
              "url_notify": "https://www.youwebsite.com/urlnotify?orderClient=98745",
              "additional_parameters":
                {
                "parameters1": "keyValue",
                "parameters2": "keyValue",
                "order_ext": "fff-777"
                }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " máximo 50 caracteres"
                  description: Email del usuario
                  type: string
                  format: email
                  example: "johndoe@example.com"
                phone:
                  pattern: " máximo 20 caracteres"
                  description: Télefono del usuario
                  type: string
                  example: "923122312"
                subject:
                  pattern: " máximo 200 caracteres"
                  description: Descripción de la orden
                  type: string
                  example: payOut description
                currency:
                  pattern: " máximo 6 caracteres"
                  description: Tipo de moneda  (Formato ISO)
                  type: string
                  example: "CLP"
                order:
                  pattern: " máximo 50 caracteres"
                  description: Orden del comercio
                  type: string
                  example: "98745"
                amount:
                  pattern: " máximo 14 dígitos"
                  description: Monto de la orden
                  type: integer
                  example: 25000
                accountbank_name:
                  pattern: " máximo 180 caracteres"
                  description: Nombre del titular de la cuenta
                  type: string
                  example: Jhon Doe
                accountbank_rut:
                  pattern: " máximo 15 caracteres"
                  description: |
                    Documento de identidad del titular de la cuenta en Chile
                    Formato: 111111111
                  type: string
                  example: "111111111"
                accountbank_sbif:
                  pattern: " máximo 4 caracteres"
                  description: |
                    Código del banco al que pertenece la cuenta bancaria.
                  type: string
                  example: "0001"
                accountbank_type:
                  pattern: " máximo 1 caracterer"
                  description: |
                    Tipo de cuenta.
                    - 1 Corriente
                    - 2 Vista/Cuenta RUT
                    - 3 Ahorro
                  type: string
                  example: "1"
                accountbank_num:
                  pattern: " máximo 200 caracteres"
                  description: |
                    Número de cuenta del cliente.
                      - **Para el banco "banco estado" (sbif 0012) el máximo de caracteres es 12 Este banco es el más común en Chile, es bueno agregar la validación de máximo de dígitos de 12. Esto evita que los usuarios ingresen su número de tarjeta de débito Para el resto de los bancos, puede tener más de 12 caracteres ya que los bancos no están estandarizados en su formato de número de cuenta.**
                  type: string
                  example: "12312312312"
                url_notify:
                  pattern: " máximo 600 caracteres"
                  description: |
                    url donde se notificare el resultado del pago.
                    - Nota: Luego de realizar el pago a terceros payku respondera de forma automática al endpoint ingresado en urlnotify el resultado de la operación.
                      - **Ejemplo Aprobado:**
                      - {
                          - "id": "morexzxxxx",
                          - "identifier_payout": "morexzxxxx",
                          - "order" : "367734544",
                          - "status" : "success",
                          - "update_at" : "2023-08-24 12:29:35",
                          - "customer" : {
                            - "name" : "Jhon Doe",
                            - "phone" : "978456879",
                            - "document" : "111111111",
                            - "number" : "978456879"
                          - }
                      - }
                      - **Ejemplo Rechazado:**
                      - {
                          - "id": "morexzxxxx",
                          - "identifier_payout": "morexzxxxx",
                          - "order" : "367734544",
                          - "status" : "banking_error",
                          - "update_at" : "2023-08-24 12:29:35",
                          - "customer" : {
                            - "name" : "Jhon Doe",
                            - "phone" : "978456879",
                            - "document" : "111111111",
                      - }
                  type: string
                  example: "https://www.youwebsite.com/urlnotify?orderClient=98745"
                additional_parameters:
                  pattern: " máximo 4000 caracteres"
                  description: Parámetros adicionales del cliente (Opcional).
                  type: object
                  properties:
                    parameter_1:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "keyValue"
                    parameter_2:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "keyValue"
                    order_ext:
                      description: Nombre de la orden externa dado por el usuario payku (Opcional)
                      type: string
                      example: "fff-777"
              required:
                - email
                - subject
                - currency
                - order
                - amount
                - accountbank_name
                - accountbank_rut
                - accountbank_sbif
                - accountbank_type
                - accountbank_num
  /api/wallet/withdraw:
    post:
      tags:
        - Wallet
      summary: Retirar dinero de mi wallet
      description: Este método permite crear una liquidación a la cuenta bancaria del comercio utilizando los fondos de tu billetera virtual **payku**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/wallet/withdraw \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "subject": "withdraw 133222",
              "currency": "CLP",
              "order": "133222",
              "amount":  1000
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/wallet/withdraw', [
                'json' => [
                    "subject": "withdraw 9876",
                    'order' => "133222",
                    'currency' => 'CLP',
                    'amount' =>  1000
                  ],
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/walet/withdraw', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "amount":  1000,
              "currency": "CLP",
              "order": "133222",
              "subject": "subject"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  pattern: " máximo 200 caracteres"
                  description: Descripción de la orden
                  type: string
                  example: payment description
                currency:
                  pattern: " máximo 6 caracteres"
                  description: Tipo de moneda  (Formato ISO)
                  type: string
                  example: "CLP"
                order:
                  pattern: " máximo 80 caracteres"
                  description: Orden del comercio
                  type: string
                  example: "98745"
                amount:
                  pattern: " máximo 14 dígitos"
                  description: Monto de la orden
                  type: integer
                  example: 25000
              required:
                - subject
                - order
                - amount
                - currency

  /api/wallet:
    get:
      tags:
        - Wallet
      summary: "Obtener saldo"
      description: |
        Este método permite obtener el saldo de tu billetera virtual **payku**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/wallet/list:
    get:
      tags:
        - Wallet
      summary: "Obtener movimientos"
      description: |
        Este método permite obtener los movimientos de su billetera virtual **payku**, este método permite una paginación con un máximo de 4000 registros por página, además, posee los siguientes filtros:

        Para la paginación es necesario agregar al final del endpoint lo siguiente ?page=1&per_page=100 siendo el primer parámetro el número de la página y el segundo el número de registros por página Como por ejemplo: **api/wallet/list?page=1&per_page=100**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet/list  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet/list', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet/list', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/wallet/{identificadorWallet}:
    get:
      tags:
        - Wallet
      summary: "Obtener movimiento"
      description: |
        Este método permite obtener un movimiento de su billetera virtual **payku** mediante un identificador:

        Para realizar la consulta es necesario agregar al final del endpoint lo siguiente /{identificadorWallet} como por ejemplo: **api/wallet/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet/{identificadorWallet}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet/{identificadorWallet}', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet/{identificadorWallet}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO',
                  'Sign': 'SHA256-REQUEST-PATH-VALU-TOKENE-PRIVADO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/payout/{identificadorPayout}:
    get:
      tags:
        - Wallet
      summary: "Obtener payout"
      description: |
        Este método permite obtener un movimiento de pagos a terceros de su billetera virtual **payku** mediante un identificador:

        Para realizar la consulta es necesario agregar al final del endpoint lo siguiente /{identificadorPayout} como por ejemplo: **api/payout/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponseGet"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/payout/{identificadorPayout}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/payout/{identificadorPayout}', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/payout/{identificadorPayout}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();


  /api/payoutv3/{identificadorPayout}:
    get:
      tags:
        - Wallet
      summary: "Obtener payout V3"
      description: |
        Este método permite obtener un movimiento de pagos a terceros de su billetera virtual **payku** mediante un identificador:

        Para realizar la consulta es necesario agregar al final del endpoint lo siguiente /{identificadorPayout} como por ejemplo: **api/payout/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponseGetv3"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/payout/{identificadorPayout}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/payout/{identificadorPayout}', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/payout/{identificadorPayout}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();


  /api/nullification:
    post:
      tags:
        - Anulación
      summary: Crear anulación.
      description: Este método permite crear una anulación de una transacción.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nullificationResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/nullification \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Sign: f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              'id': 'trxpr2a45s1dytg1',
              'amount': 25000,
              'subject': 'anulación transacción'
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/nullification', [
                'json' => [
                  'id' => 'trxpr2a45s1dytg1',
                  'amount' => 25000,
                  'subject' => "anulación transacción"
                  ],
                'headers' => [
                  'Sign' => 'f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112',
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/nullification', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              'id': 'trxpr2a45s1dytg1',
              'amount': 25000,
              'subject': 'anulación transacción'
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  pattern: " máximo 40 caracteres"
                  description: Identificador de la transacción la cual se desea anular.
                  type: string
                  example: "trxpr2a45s1dytg1"
                amount:
                  pattern: " máximo 14 dígitos"
                  description: Monto de la transacción.
                  type: int
                  example: 25000
                subject:
                  pattern: " máximo 200 caracteres"
                  description: descripción de la solicitud de anulación.
                  type: string
                  example: "anulación transacción"

  /api/nullification/{identificador}:
    get:
      tags:
        - Anulación
      summary: Obtener anulación.
      description: |
        Este método permite obtener las solicitudes de una anulación realizada a payku mediante un identificador:

        Para realizar la consulta es necesario agregar al final del endpoint lo siguiente /{identificador} como por ejemplo: **api/nullification/trxpr2a45s1dytg1**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nullificationResponseGet"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identificador no existe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/nullification/{identificador}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/nullification/{identificador}', [
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/nullification/{identificador}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  callback:
    post:
      tags:
        - Anulación
      summary: Generar callback.
      description: |
        Desde la aplicación de payku, puedes generar la **url** de notificación desde la sección de configuración.

        <br>
        <div class='container'>
          <img src='/assets/img/Muestra-Url-Notificaciones.png' alt='Avatar' class='image' style='width:100%'>
          <div class='middle'>
            <a target='_blank' href='/assets/img/Muestra-Url-Notificaciones.png' class='text'>Ver ejemplo</a>
          </div>
        </div>

            Ejemplo de la respuesta del callback:
              {
                  "id": "morexxzxxx",
                  "id_transaction": "morexxzxxx",
                  "ordencompra": "367734544",
                  "fecha": "24-08-2023 12:29:35",
                  "monto": 7000,
                  "status": "complete"
              }

  /api/escrow:
    post:
      tags:
        - Transacción Escrow
      summary: Autorizar liquidación
      description: Este método permite autorizar la liquidación de una o más transacciones utilizando el identificador de las mismás, para que estas puedan ser depositadas en el wallet o la cuenta bancaria del cliente.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EscrowResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/escrow \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer TOKEN-PUBLICO' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "transactions": ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385']
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/escrow', [
                'json' => [
                  'transactions' => ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385'],
                  ],
                'headers' => [
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/escrow', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer TOKEN-PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              transactions: ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385'],
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transactions:
                  pattern: " máximo 30 caracteres"
                  description: Arreglo que contiene el identificador de cada una de las transacciones que se desean autorizar para liquidación.
                  type: array
                  example: ["trx3b4d77b43acd9a720", "trx3b4d77b43acd9a385"]

  /api/suclient/:
    post:
      tags:
        - Suscripción de consumo
      summary: Crear cliente
      description: Este método permite la creación de un cliente.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminClientResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suclient \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "johndoe@example.com",
                "name": "John Doe",
                "rut": "111111111",
                "phone": "923122312",
                "address": "Moneda 101",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "850000,
                "additional_parameters":{
                  "parameter_1": "example",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suclient', [
                'json' => [
                  'email' => 'johndoe@example.com',
                  'name' => 'John Doe',
                  'rut' => '111111111',
                  'phone' => '923122312',
                  'address' => 'Moneda 101',
                  'country' => 'Chile',
                  'region' => 'Metropolitana',
                  'city' => 'Santiago',
                  'postal_code' => '850000',
                    'additional_parameters' => [
                      'parameter_1' => 'example',
                      'parameter_2' => 'example 2'
                    ]
                  ],
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "johndoe@example.com",
              name: "John Doe",
              rut: "111111111",
              phone: "923122312",
              address: "Moneda 101",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "850000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " máximo 50 caracteres"
                  description: Email del cliente.
                  type: string
                  format: email
                  example: "johndoe@example.com"
                name:
                  pattern: " máximo 80 caracteres"
                  description: Nombre del cliente.
                  type: string
                  example: "John Doe"
                rut:
                  pattern: " 12 caracteres requeridos"
                  description: Registro Único Tributario del cliente, será permitido el ingreso de este dato con ó sin guión.
                  type: integer
                  example: "11111111"
                phone:
                  pattern: " 20 caracteres requeridos"
                  description: Teléfono del cliente.
                  type: string
                  example: "923122312"
                address:
                  pattern: " máximo 200 caracteres"
                  description: Dirección del cliente.
                  type: string
                  example: "Moneda 101"
                country:
                  pattern: " máximo 40 caracteres"
                  description: País del cliente.
                  type: string
                  example: "Chile"
                region:
                  pattern: " máximo 120 caracteres"
                  description: Región del cliente.
                  type: string
                  example: "Metropolitana"
                city:
                  pattern: " máximo 40 caracteres"
                  description: Ciudad del cliente.
                  type: string
                  example: "Santiago"
                postal_code:
                  pattern: " máximo 10 caracteres"
                  description: Código postal del cliente.
                  type: string
                  example: "850000"
                additional_parameters:
                  pattern: " máximo 4000 caracteres"
                  description: Parámetros adicionales del cliente (Opcional).
                  type: object
                  properties:
                    parameter_1:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "example"
                    parameter_2:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "example"
              required:
                - email
                - name
                - phone

  /api/suplan/:
    post:
      tags:
        - Suscripción de consumo
      summary: Crear plan
      description: Este método permite la Inserción de los datos para la creación de un plan.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suplan \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "name": "Test plan",
                "description": "Test Plan"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suplan', [
                'json' => [
                  'name' => 'Test plan',
                  'description' => 'Test Plan'
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                    'Authorization' => 'Bearer TOKEN_PUBLICO'              ]
                  ])->getBody();
                $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suplan', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              name: "Test plan",
              description: "Test Plan"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  pattern: " máximo 200 caracteres"
                  description: Nombre del plan.
                  type: string
                  example: Test plan
                description:
                  pattern: " máximo 1000 caracteres"
                  description: Descripción del plan.
                  type: string
                  example: Test Plan
                url_notify_suscription:
                  pattern: " máximo 240 caracteres"
                  description: URL donde se notificare el estado de la suscripcion.
                  type: string
                  example: "https://youwebsite.com/urlnotifysuscription"
                  format: url
                url_notify_payment:
                  pattern: " máximo 240 caracteres"
                  description: URL donde se notificare el estado del pago.
                  type: string
                  example: "https://youwebsite.com/urlnotifypayment"
                  format: url
                url_success_payment:
                  pattern: " máximo 240 caracteres"
                  description: URL donde se redigira al usuario si el pago es exitoso.
                  type: string
                  example: "https://youwebsite.com/urlsuccesspayment"
                  format: url
                url_failed_payment:
                  pattern: " máximo 240 caracteres"
                  description: URL donde se redigira al usuario si el pago es fallido.
                  type: string
                  example: "https://youwebsite.com/urlfailedpayment"
                  format: url
              required:
                - name
  /api/sususcription/:
    post:
      tags:
        - Suscripción de consumo
      summary: Crear suscripción
      description: Este método permite al usuario de una cuenta payku crear una suscripción a un plan de suscripción de monto fijo, suscripción de plan de consumo y suscripción de monto variable a uno de sus clientes, para este ultimo tipo de suscripción es necesario enviar el monto que sera cobrado en la suscripción, es importante destacar que al realizar esta solicitud por primera vez se realizará un cobro de $50 que permite comprobar que la tarjeta se encuentra activa y es válida, en el caso de un plan de suscripción fijo el cobro del servicio será automático a partir del mes siguiente de la fecha de suscripción y en el caso que la suscripción sea a un plan de consumo será necesario utilizar el endpoint api/sutransaction para generar la transacción.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuscriptionResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/sususcription \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "plan": "pl9697fb170834ad42dd00",
                "client": "cl9b1e1dd988694f30fa30"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/sususcription, [
                'json' => [
                  'plan' => 'pl9697fb170834ad42dd00',
                  'client' => 'cl9b1e1dd988694f30fa30',
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                    'Authorization' => 'Bearer TOKEN_PUBLICO'
                  ]
                ])->getBody();
              $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/sususcription', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              plan: "pl9697fb170834ad42dd00",
              client: "cl9b1e1dd988694f30fa30"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  pattern: " máximo 70 caracteres"
                  description: Id del plan.
                  type: string
                  example: pl9697fb170834ad42dd00
                client:
                  pattern: " máximo 20 caracteres"
                  description: Id del cliente.
                  type: string
                  example: cl9b1e1dd988694f30fa30
              required:
                - plan
                - client

  /api/sutransaction/:
    post:
      tags:
        - Suscripción de consumo
      summary: Crear transacción
      description: Este método permite al usuario de una cuenta payku crear una transacción única a uno de sus clientes que encuentre suscrito a un plan de consumo.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuTransactionResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/sutransaction \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "suscription": "sucaab7865dceaff49d8b3",
                "amount": "10000",
                "order": "001",
                "description": "Descripción",
                "marketplace": "ma0690b6451a7043d5"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/sutransaction, [
                'json' => [
                  'suscription' => sucaab7865dceaff49d8b3,
                  'order' => '001',
                  'monto' => '10000',
                  'description' => 'descripcion',
                  'marketplace' => "ma0690b6451a7043d5"
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                    'Authorization' => 'Bearer TOKEN_PUBLICO'
                  ]
                ])->getBody();
              $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/sutransaction', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              suscription: "sucaab7865dceaff49d8b3",
              amount: "10000",
              order: "001",
              description: "Descripción",
              marketplace: "ma0690b6451a7043d5"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suscription:
                  pattern: " máximo 60 caracteres"
                  description: Identificador único de suscripción por payku.
                  type: string
                  example: sucaab7865dceaff49d8b3
                amount:
                  pattern: " máximo 14 dígitos"
                  description: Monto.
                  type: string
                  example: "10000"
                order:
                  pattern: " máximo 40 caracteres"
                  description: Orden.
                  type: string
                  example: "001"
                description:
                  pattern: " máximo 1000 caracteres"
                  description: Descripción.
                  type: string
                  example: Descripción
                marketplace:
                  pattern: " 20 caracteres"
                  description: ma0690b6451a7043d5.
                  type: string
                  example: ma0690b6451a7043d5
                card:
                  pattern: " máximo 28 caracteres"
                  description: Con el identificador puede indicar a cual de las tarjetas activas se realizará el cobro (OPCIONAL).
                  type: string
                  example: "surea041d8a4413949425fec"
              required:
                - suscription

  /api/suscriptionsdeletecards/:
    post:
      tags:
        - Suscripción de consumo
      summary: Eliminar tarjeta
      description: |
        Este método permite eliminar una tarjeta asociada a la suscripción.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDeleteSuscriptionResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400CardDelete"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suinscriptionscards \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "card": "surec804a8ed60c0a8cb8839"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suinscriptionscards', [
                'json' => [
                  'card' => surec804a8ed60c0a8cb8839,
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                    'Authorization' => 'Bearer TOKEN_PUBLICO'              ]
                  ])->getBody();
                $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suinscriptionscards', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              card: "surec804a8ed60c0a8cb8839"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suscription:
                  pattern: " máximo 60 caracteres"
                  description: ID de la tarjeta asociada.
                  type: string
                  example: surec804a8ed60c0a8cb8839
              required:
                - suscription

  /api/suclient:
    post:
      tags:
        - Suscripción
      summary: Crear cliente
      description: Este método permite la inserción de datos de un cliente.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminClientResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suclient \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "johndoe@example.com",
                "name": "John Doe",
                "rut": "111111111",
                "phone": "923122312",
                "address": "Moneda 101",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "850000,
                "additional_parameters":{
                  "parameter_1": "example",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suclient', [
                'json' => [
                  'email' => 'johndoe@example.com',
                  'name' => 'John Doe',
                  'rut' => '111111111',
                  'phone' => '923122312',
                  'address' => 'Moneda 101',
                  'country' => 'Chile',
                  'region' => 'Metropolitana',
                  'city' => 'Santiago',
                  'postal_code' => '850000',
                  'additional_parameters' => [
                      'parameter_1' => 'example',
                      'parameter_2' => 'example 2'
                    ]
                  ],
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "johndoe@example.com",
              name: "John Doe",
              rut: "111111111",
              phone: "923122312",
              address: "Moneda 101",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "850000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " máximo 50 caracteres"
                  description: Email del cliente.
                  type: string
                  format: email
                  example: "johndoe@example.com"
                name:
                  pattern: " máximo 80 caracteres"
                  description: Nombre del cliente
                  type: string
                  example: "John Doe"
                rut:
                  pattern: " 12 caracteres requeridos"
                  description: Registro Único Tributario del cliente, será permitido el ingreso de este dato con ó sin guión.
                  type: string
                  example: "11111111"
                phone:
                  pattern: " 20 caracteres requeridos"
                  description: Teléfono del cliente.
                  type: string
                  example: "923122312"
                address:
                  pattern: " máximo 200 caracteres"
                  description: Dirección del cliente.
                  type: string
                  example: "Moneda 101"
                country:
                  pattern: " máximo 40 caracteres"
                  description: País del cliente.
                  type: string
                  example: "Chile"
                region:
                  pattern: " máximo 120 caracteres"
                  description: Región del cliente.
                  type: string
                  example: "Metropolitana"
                city:
                  pattern: " máximo 40 caracteres"
                  description: Ciudad del cliente.
                  type: string
                  example: "Santiago"
                postal_code:
                  pattern: " máximo 10 caracteres"
                  description: Código postal del cliente.
                  type: string
                  example: "850000"
                additional_parameters:
                  pattern: " máximo 4000 caracteres"
                  description: Parámetros adicionales del cliente (Opcional).
                  type: object
                  properties:
                    parameter_1:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "example"
                    parameter_2:
                      description: Nombre del parámetro dado por el usuario payku
                      type: string
                      example: "example"
              required:
                - email
                - name
                - phone

  /api/suclient/{identificadorCliente} o {emailCliente}:
    get:
      tags:
        - Suscripción
      summary: Obtener cliente
      description: Este método permite obtener el detalle de un cliente.
      operationId: getClientById
      parameters:
        - name: id
          in: path
          description: Identificador único de transacción por payku o email del cliente.
          required: true
          schema:
            type: string
            pattern: " máximo 20 caracteres"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientIdResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400Event"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE_URL/api/suclient/id \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', [
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization' => 'Bearer TOKEN_PUBLICO'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request(data);

    put:
      tags:
        - Suscripción
      summary: Actualizar cliente
      description: Este método permite la actualización de los datos de un cliente.
      operationId: putSuscriptionById
      parameters:
        - name: id
          in: path
          description: Identificador único de transacción por payku.
          required: true
          schema:
            type: string
            pattern: " máximo 20 caracteres"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModifyClientResponse"
        "400":
          description: Error en la solicitud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Token Público incorrecto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X PUT \
            https://BASE_URL/api/suclient/id \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "johndoe@example.com",
                "name": "John Doe Doe",
                "phone": "923122312",
                "address": "Moneda 121",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "750000",
                "additional_parameters":{
                  "parameter_1": "example",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('PUT', 'https://BASE_URL//api/suclient/cla90927fa9b30e1dfffa0', [
                'json' => [
                  'email' => 'johndoe@example.com',
                  'name' => 'John Doe Doe',
                  'phone' => '923122312',
                  'address' => 'Moneda 121',
                  'country' => 'Chile',
                  'region'  => 'Metropolitana',
                  'city'    => 'Santiago',
                  'postal_code' => '750000',
                  'additional_parameters' => [
                      'parameter_1' => 'example',
                      'parameter_2' => 'example 2'
                    ]
                  ],
                ],
              ],
              'headers' => [
                'Sign' => 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                'Authorization' => 'Bearer TOKEN_PUBLICO'
              ]
            ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-TOKEN-PRIVADO',
                  'Authorization': 'Bearer TOKEN_PUBLICO'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "johndoe@example.com",
              name: "John Doe Doe",
              phone: "923122312",
              address: "Moneda 121",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "750000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " máximo 50 caracteres"
                  description: Nombre del cliente
                  type: string
                  example: "johndoe@example.com"
                name:
                  pattern: " máximo 80 caracteres"
                  description: Nombre del cliente
                  type: string
                  example: "John Doe Doe"
[...]
